# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
.conda/
*.conda
*.ipynb_checkpoints

# Hatch, Poetry, Pipenv
.cache/
.hatch/
.mypy_cache/
.dmypy.json
dmypy.json
.poetry/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# C extensions
*.so

# Sphinx / MkDocs documentation
docs/_build/
site/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Profiling data
.prof
.profraw

# Local config
*.local.json
*.secret.*
# pixi environments
.pixi/*
!.pixi/config.toml

# AG Workspace
.agent/*

*/ce.yaml
chainlite/_version.py
